body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;

    
}
h1 {
    font-weight: bold;
    font-size: 40px;
}
ul {
    border: 2px solid blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
}

       
p {
    background-color: white;
    padding: 10px;
}
        



