button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    /*align buttons to the right*/
}
/*make video bigger*/

body {
    font-family: "EB Garamond";
    background-color: #f2ebfe;
}

main {
    color: #30106b;
    padding-left: 40px;
}

h1{
    font-size: 40px;
    font-weight: 800;
}

h3{
    font-weight: 400;
    font-size: 35px;
}

p{
    font-size: 25px;
    font-weight: 300;
}

ul{
    font-size: 20px;
    font-weight: 300;
}