
body {
    font-family: "EB Garamond";
    background-color: #f2ebfe;
    padding-left: 40px;
    padding-top: 30px;
}

#home h1 {
    color: #30106b;
    font-size: 50px;
}

#home h3 {
    color: #30106b;
    font-size: 30px;
}

#home p{
    font-size: 30px;
    padding-top: 30px;
    color: #30106b;
}

#home h4{
    font-size: 20px;
    font-weight: bold;
    color: #30106b;
}

#home ul {
    font-size: 18px;
    color: #30106b;
}

button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    /*align buttons to the right*/
}

#home div.look {
   
    position: relative;
    width: 300px;
    border: 3px solid #30106b;
    padding: 30px;
    margin: 20px;
    float: left;
      
}

#home div.follow {
   /*move closer together*/
    position: relative;
    width: 300px;
    border: 3px solid #30106b;
    padding: 30px;
    margin: 20px;
    float:right;
      
}

#resume body {
    font-family: "EB Garamond";
    background-color: #f2ebfe;
}

button {
    background-color: transparent;
    font-size: 15px;
    border: none;
}

#resume h1 {
    color: #30106b;
    font-size: 40px;
}

#resume main {
    color: #30106b;
    padding-left: 40px;
    padding-top: 30px;
}

#resume h2 {
    font-weight: 800;
    font-size:35px;
}

#resume h3{
    font-weight: 400;
    font-size: 30px;
}

#resume h4{
    font-weight: 400;
    font-size: 25px;
}

#resume ul{
    font-size: 25px;
}
/* make resume two columns possibly*/

button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    /*align buttons to the right*/
}
/*make video bigger*/

#work body {
    font-family: "EB Garamond";
    background-color: #f2ebfe;
}

#work main {
    color: #30106b;
    padding-left: 40px;
}

#work h1{
    font-size: 40px;
    font-weight: 800;
}

#work h3{
    font-weight: 400;
    font-size: 35px;
}

#work p{
    font-size: 25px;
    font-weight: 300;
}

#work ul{
    font-size: 20px;
    font-weight: 300;
}

#about body {
    font-family: "EB Garamond";
    background-color: #f2ebfe;
}

#about main {
    color: #30106b;
}

#about h1{
    padding-left: 40px;
}

#about div.me{
    width: 400px;
    border: 3px solid #30106b;
    padding: 20px;
    margin: 40px;
    float: left;
}


#about div.me-text{
    width: 700px;
    padding: 30px;
    margin: 30px;
    float: right;
    font-size: 20px;
}

#about div.lady{
    width: 400px;
    border: 3px solid #30106b;
    padding: 20px;
    margin: 40px;
    float: right;
}


#about div.movie-text{
    width: 500px;
    padding: 30px;
    margin: 30px;
    float: left;
    font-size: 20px;
}

#about div.brock{
    width: 400px;
    border: 3px solid #30106b;
    padding: 20px;
    margin: 40px;
    float: left;
}


#about div.music-text{
    width: 700px;
    padding: 30px;
    margin: 30px;
    float: right;
    font-size: 20px;
}

#about div.travel{
    width: 400px;
    border: 3px solid #30106b;
    padding: 20px;
    margin: 40px;
    float: right;
}


#about div.travel-text{
    width: 700px;
    padding: 30px;
    margin: 30px;
    float: left;
    font-size: 20px;
}